<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/secondone-1-308x282.jpg" type="image/x-icon">
    <meta name="description" content="">
    <title>Греко-римська боротьба Вінничини</title>
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!--<link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">-->
    <!--<link rel="stylesheet" href="assets/tether/tether.min.css">-->
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">-->
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">-->
    <!--<link rel="stylesheet" href="assets/dropdown/css/style.css">-->
    <!--<link rel="stylesheet" href="assets/theme/css/style.css">-->
    <!--<link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">-->
</head>
<body>
<div id="app">
    <section class="menu cid-qFEVchKDOS" once="menu" id="menu2-l">


        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="assets/images/secondone-1-308x282.jpg" alt="Mobirise" title=""
                             style="height: 3.8rem;">
                    </a>
                </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Греко-римська боротьба Вінничини</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="index.html#info2-r">
                            Документи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="index.html#info2-t">
                            Обласні
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#info2-u">
                        Всеукраїнські</a></li>
                </ul>

            </div>
        </nav>
    </section>
    <section class="header6 cid-qFEKrocEHo mbr-fullscreen"
             data-bg-video="https://www.youtube.com/embed/6_2CvrT52bw?rel=0&showinfo=0&autoplay=1&loop=1"
             id="header6-k">


        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Греко-римська
                        боротьба Вінничини</h1>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Сайт присвячений змаганням з
                        греко-римської боротьби. <br>Правела та їх переклад.<br>Розклад змагань.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="features17 cid-qFEWnCKf41 cid-qFF3oaNE4R" id="info2-r">

        <div class="container align-center">
            <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Документи</h2>
        </div>
        <div class="container-fluid">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-6 col-lg-3">
                    <a class="card-wrapper" href="https://unitedworldwrestling.org/sites/default/files/media/document/wrestling_rules_10.pdf" target="_blank">
                        <div class="card-img">
                            <img src="assets/images/001.png" alt="Міжнародні правила з боротьби (Англійська)">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Міжнародні правила з боротьби (Англійська)
                            </h4>
                        </div>
                    </a>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-3">
                    <a class="card-wrapper"   v-bind:href="server + '/assets/docs/TranslateUWW2018.pdf'" target="_blank">
                        <div class="card-img">
                            <img src="assets/images/002.png" alt="Міжнародні правила з боротьби (Російська)">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Міжнародні правила з боротьби (Російська)
                            </h4>
                        </div>
                    </a>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-3">
                    <a class="card-wrapper" v-bind:href="server + '/assets/docs/vitjag.xlsx'" download>
                        <div class="card-img">
                            <img src="assets/images/003.jpg" alt="Витяг з проекту єдиного календарного плану спортивних змагань України на 2018 рік">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Витяг з проекту єдиного календарного плану спортивних змагань України на 2018 рік
                            </h4>
                        </div>
                    </a>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-3">
                    <a class="card-wrapper"  v-bind:href="server + '/assets/docs/project_obl.docx'" download>
                        <div class="card-img">
                            <img src="assets/images/004.jpg" alt="Проекту календарного плану Вінницької обл. з греко-римської боротьби на 2018 рік">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title pb-3 mbr-fonts-style display-7">
                                Проекту календарного плану Вінницької обл. з греко-римської боротьби на 2018 рік
                            </h4>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </section>

    <section class="timeline1 cid-qFF2qkDlFI  cid-qFF30iV1zQ" id="info2-t">


        <div class="container align-center">

            <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Обласні змагання</h2>
            <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5 text-white">Дані приведені тільки для ознайомлення і можуть відрізнятись від реальних</h3>

            <div class="container timelines-container" mbri-timelines="">
                <div class="container timelines-container" mbri-timelines="">
                    <competition
                            v-for="(item, index) in local"
                            v-bind:item="item"
                            v-bind:isreverse="index%2 === 0"
                            v-bind:agecategories="ageCategories"
                            v-bind:key="item.id"
                    >
                    </competition>
                </div>

            </div>
        </div>
    </section>

    <section class="timeline1 cid-qFF3vk8pwd cid-qFF3oaNE4F" id="info2-u">


        <div class="container align-center">
            <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Всеукраїнські змагання</h2>
            <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5 text-white">Дані приведені тільки для ознайомлення і можуть відрізнятись від реальних</h3>

            <div class="container timelines-container" mbri-timelines="">
                <competition
                        v-for="(item, index) in national"
                        v-bind:item="item"
                        v-bind:isreverse="index%2 === 0"
                        v-bind:agecategories="ageCategories"
                        v-bind:key="item.id"
                >
                </competition>
            </div>
        </div>
    </section>

    <section once="" class="cid-qFEWSbFRnX" id="footer6-o">


        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2017 Mit9 - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/theme/js/script.js"></script>
<script src="assets/scripts/vue.min.js"></script>
<script src="assets/scripts/axios.min.js"></script>
<script src="assets/scripts/script.js"></script>

</body>
</html>