<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/secondone-1-308x282.jpg" type="image/x-icon">
    <meta name="description" content="">
    <title>Греко-римська боротьба Вінничини</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
<section class="menu cid-qFEVchKDOS" once="menu" id="menu2-l">


    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src="assets/images/secondone-1-308x282.jpg" alt="Mobirise" title=""
                             style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="#">Греко-римська боротьба Вінничини</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="index.html#info2-r">
                        Документи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="index.html#info2-t">
                        Обласні
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link link text-black display-4" href="index.html#info2-u">
                    Всеукраїнські</a></li>
            </ul>

        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/e">website building software</a></section>
<section class="header6 cid-qFEKrocEHo mbr-fullscreen"
         data-bg-video="https://www.youtube.com/embed/6_2CvrT52bw?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1"
         id="header6-k">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Греко-римська
                    боротьба Вінничини</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Сайт присвячений змаганням з
                    греко-римської боротьби. <br>Правела та їх переклад.<br>Розклад змагань.</p>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section info2 cid-qFF1NKZ7SH" id="info2-r">


    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">

            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    Документи</h2>

            </div>
        </div>
    </div>
</section>

<section class="features17 cid-qFEWnCKf41" id="features17-n">


    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <a class="card-wrapper" href="https://unitedworldwrestling.org/sites/default/files/media/document/wrestling_rules_10.pdf" target="_blank">
                    <div class="card-img">
                        <img src="assets/images/001.png" alt="Міжнародні правила з боротьби (Англійська)">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Міжнародні правила з боротьби (Англійська)
                        </h4>
                    </div>
                </a>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <a class="card-wrapper" href="/assets/docs/TranslateUWW2018.pdf" target="_blank">
                    <div class="card-img">
                        <img src="assets/images/002.png" alt="Міжнародні правила з боротьби (Російська)">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Міжнародні правила з боротьби (Російська)
                        </h4>
                    </div>
                </a>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <a class="card-wrapper" href="/assets/docs/vitjag.xlsx" download>
                    <div class="card-img">
                        <img src="assets/images/003.jpg" alt="Витяг з проекту єдиного календарного плану спортивних змагань України на 2018 рік">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Витяг з проекту єдиного календарного плану спортивних змагань України на 2018 рік
                        </h4>
                    </div>
                </a>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <a class="card-wrapper" href="/assets/docs/project_obl.docx" download>
                    <div class="card-img">
                        <img src="assets/images/004.jpg" alt="Проекту календарного плану Вінницької обл. з греко-римської боротьби на 2018 рік">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Проекту календарного плану Вінницької обл. з греко-римської боротьби на 2018 рік
                        </h4>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

<section class="mbr-section info2 cid-qFF30iV1zQ" id="info2-t">


    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">

            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    Обласні змагання</h2>

            </div>
        </div>
    </div>
</section>

<section class="timeline1 cid-qFF2qkDlFI" id="timeline1-s">


    <div class="container align-center">

        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Місця і час проведення може бути не
            корректним</h3>

        <div class="container timelines-container" mbri-timelines="">
            <div class="container timelines-container" mbri-timelines="" id="local">
                <competition
                        v-for="(item, index) in competitions"
                        v-bind:item="item"
                        v-bind:isreverse="index%2 === 0"
                        v-bind:key="item.id"
                >
                </competition>
            </div>

        </div>
    </div>
</section>

<section class="mbr-section info2 cid-qFF3oaNE4F" id="info2-u">


    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">

            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    Всеукраїнські змагання</h2>

            </div>
        </div>
    </div>
</section>

<section class="timeline1 cid-qFF3vk8pwd" id="timeline1-v">


    <div class="container align-center">

        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Місця і час проведення може бути не
            корректним</h3>

        <div class="container timelines-container" mbri-timelines="" id="national">
            <competition
                    v-for="(item, index) in competitions"
                    v-bind:item="item"
                    v-bind:isreverse="index%2 === 0"
                    v-bind:key="item.id"
            >
            </competition>
        </div>
    </div>
</section>

<section once="" class="cid-qFEWSbFRnX" id="footer6-o">


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mit9 - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/theme/js/script.js"></script>
<script src="assets/scripts/vue.js"></script>
<script src="assets/scripts/axios.min.js"></script>
<script>
    Vue.component('competition', {
        props: ['item', 'isreverse'],
        template: '<div class="row timeline-element separline" v-bind:class="{reverse: isreverse}">' +
        '                 <div class="timeline-date-panel col-xs-12 col-md-6  " v-bind:class="{\'align-left\': isreverse, \'align-right\': !isreverse}">' +
        '                    <div class="time-line-date-content">' +
        '                        <p class="mbr-timeline-date mbr-fonts-style display-5">' +
        '                            {{item.startingDay}} - {{item.endingDay}}' +
        '                        </p>' +
        '                    </div>' +
        '                </div>' +
        '           <span class="iconBackground"></span>' +
        '            <div class="col-xs-12 col-md-6">' +
        '                <div class="timeline-text-content">' +
        '                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5" v-bind:class="{\'align-left\': isreverse, \'align-right\': !isreverse}">' +
        '                        {{item.title}}' +
        '                    </h4>' +
                            '<dl class="row">' +
                            '  <dt class="col-sm-5">Місто</dt>' +
                            '  <dd class="col-sm-7">{{item.city}}</dd>' +
                            '  <dt class="col-sm-5">Команда</dt>' +
                            '  <dd class="col-sm-7">{{item.participants}}</dd>' +
                            '</dl>' +
        '                 </div>' +
        '            </div>' +
        '            </div>'
    });
    var local = new Vue({
        el: '#local',
        data: {
            competitions: []
        }
    });
    var national = new Vue({
        el: '#national',
        data: {
            competitions: []
        }
    });
    axios.get('/assets/json/competiton.json')
        .then(function (response) {
            redirectResult(response.data)
            // national.competitions = response.data;
        })
        .catch(function (error) {
            debugger
        });

    function redirectResult(_data) {
        var nationalArray = [];
        var localArray = [];
        var options ={ day: "numeric", month: "numeric"};
        var data = _data.sort(function (a, b) {
            return new Date(a.startingDay).getTime() - new Date(b.startingDay).getTime();
        });
        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            item.startingDay = new Date(item.startingDay).toLocaleString('uk-Ua', options);
            item.endingDay = new Date(item.endingDay).toLocaleString('uk-Ua', options);
            if (item.type === 'local') {
                localArray.push(item);
            } else {
                nationalArray.push(item);
            }
        }
        national.competitions = nationalArray;
        local.competitions = localArray;
    }
</script>

</body>
</html>